# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints/

# IDE / Editor settings
.vscode/
.idea/
*.swp
*.swo

# Logs and databases
*.log
*.sqlite3

# Docker
docker-compose.override.yml
.dockerignore
*.tar

__pycache__

.DS_Store